In [1]:
import pandas as pd

C:\Users\ASUS\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\ASUS\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\ASUS\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df = pd.read_csv("Hungarian_Data_coba.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak
0,40,1,2,140.000000,289.000000,0.0,0.0,172.000000,0.000000,0.0
1,49,0,3,160.000000,180.000000,0.0,0.0,156.000000,0.000000,1.0
2,37,1,2,130.000000,283.000000,0.0,1.0,98.000000,0.000000,0.0
3,48,0,4,138.000000,214.000000,0.0,0.0,108.000000,1.000000,1.5
4,54,1,3,150.000000,250.848708,0.0,0.0,122.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...
288,48,0,2,132.583618,308.000000,0.0,1.0,139.129693,0.303754,2.0
289,36,1,2,120.000000,166.000000,0.0,0.0,180.000000,0.000000,0.0
290,48,1,3,110.000000,211.000000,0.0,0.0,138.000000,0.000000,0.0
291,47,0,2,140.000000,257.000000,0.0,0.0,135.000000,0.000000,1.0
292,53,1,4,130.000000,182.000000,0.0,0.0,148.000000,0.000000,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       293 non-null    int64
 1   sex       293 non-null    int64
 2   cp        293 non-null    int64
 3   trestbps  293 non-null    float64
 4   chol      293 non-null    float64
 5   fbs       293 non-null    float64
 6   restecg   293 non-null    float64
 7   thalach   293 non-null    float64
 8   exang     293 non-null    float64
 9   oldpeak   293 non-null    float64
dtypes: float64(7), int64(3)
memory usage: 23.0 KB